<p id="notice"><%= notice %></p>

<h1>Trackartistmaps</h1>

<table>
  <thead>
    <tr>
      <th>Track</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackartistmaps.each do |trackartistmap| %>
      <tr>
        <td><%= trackartistmap.track_id %></td>
        <td><%= trackartistmap.artist_id %></td>
        <td><%= link_to 'Show', trackartistmap %></td>
        <td><%= link_to 'Edit', edit_trackartistmap_path(trackartistmap) %></td>
        <td><%= link_to 'Destroy', trackartistmap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trackartistmap', new_trackartistmap_path %>
